name: Pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  pull_request_target:

concurrency:
  group: ${{github.ref_name}}
  cancel-in-progress: false

jobs:
  test:
    uses: ./.github/workflows/test.yml
